.logo{
  border:2px solid #fff;
  background: #fff;
  box-shadow: 0px 12px 30px rgba(0,0,0,0.2);
  display: inline-block;
  border-radius: 3em;
  cursor: pointer;
}


.boardCreator{
 border-radius:8px;
 border: 2px solid #03db15;
 box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
 cursor: pointer;
 display: inline-block;
 background-color: #03db15;
 color: #fff;
}


.createBtn{
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  border-radius: 0%;
}

.createBtn:hover{
  background-color: #03db15;
  color: white;
}

.cancelCreateBtn{
  background-color: transparent;
}

.cancelCreateBtn:hover{
  background-color: red;
  color:white;
}

.iconBtn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  top: -5px;
}

.board{
  display: inline-block;
  background-color: white;
  color:black;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}

.board:hover{
  background-color: #ccc4c3;
  color: white;
}


.addList{
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(255,255,255,0.2);
  color: white;
  background-color: black;
  cursor: pointer;
}

.list{
  min-width:20%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.item{
  background-color: rgb(25, 238, 167);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.hovered{
  background: #f4f4f4;
  border-style: dashed;
}

.invisible{
  display: none;
}

.addItem{
  min-height: 20px;
}

.itemDone{
  background-color: lightgray;
  color:darkgray;
  text-decoration: line-through;
}

.itemDone i{
  color: darkgray;
}